.cardlist-container {
  width: 75%;
}

.cardlistSide-container {
  height: 100%;
  width: 40%;
  background-color: var(--color-gray-light);
  padding: 1rem;
  display: flex;
  align-items: center;
  -webkit-text-stroke: .5px #fff;
}

.cardlistHeader {
  background: transparent;
  border: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.cardlistLink-container {
  align-items: center;
}

.cardlistLink {
  text-decoration: none;
}

.cardlist-card {
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.cardlistSideA,
.cardlistSideB {
  flex-grow: 1;
  border-radius: 2px;
}

.cardlistSideA {
  background-color: #fca311;
  color: #fff;
  border: 2px solid #14213d;
}

.cardlistSideB {
  margin: 0 1rem;
  background-color: #14213d;
  color: #e5e5e5;
  border: 2px solid #fca311;
}

.hidden {
  display: hidden;
  color: transparent;
  /* border: 1px magenta solid; */
}

.sideA-header,
.sideB-header {
  flex-grow: 1;
  padding: 1rem;
  font-size: 1.8rem;
}

.sideB-header {
  padding-left: 0rem;
}