.cardlist-container {
  width: 75%;
}

.cardlistSide-container {
  height: 100%;
  width: 40%;
  background-color: var(--color-gray-light);
  padding: .3rem;
  display: flex;
  align-items: center;
}

.cardlistHeader {
  background: transparent;
  border: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.cardlistLink-container {
  /* border: 1px solid red;   */
  align-items: center;
}

.cardlistLink {
  text-decoration: none;
}

.cardlist-card {
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  margin-bottom: 2rem;
  padding-right: 1rem;
  border: 1px solid black;
}

.cardlistSideA {
  flex-grow: 1;
}

.cardlistSideB {
  flex-grow: 1;
  margin: 0 1rem;
}