.editCardControls-container {
}

.editCardControls-subControls {
  justify-content: space-between;

  & .saveButton,
  .deleteButton {
    margin: 0;
  }

  & .saveButton {
    margin-right: 1rem;
  }
}