/* FLASHCARD STYLING */
.flashcard__container {
  width: 500px;
  height: 300px;
  perspective: 1000px;
  margin: 5rem;
}

.flashcard {
  position: relative;
  width: 500px;
  height: 300px;
  transition: transform .8s;
  transform-style: preserve-3d;
}

.flashcard__container.flip .flashcard {
  transform: rotateY(180deg);
}

.sideA, .sideB {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
}

.sideA {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: 5px solid var(--color-primary-dark);
}

.sideB {
  background-color: var(--color-primary-dark);
  color: var(--color-gray-light);
  border: 5px solid var(--color-accent);
  transform: rotateY(180deg);
}
