.footer {
    width: 100vw;
    height: 1rem;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-gray-dark);
    & p {
      font-size: 1rem;
    }
}