.header {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 6rem;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-light);
  box-shadow: 0px -51px 43px 45px rgba(0,0,0,1);
}

.navElement {
  text-decoration: none;
  width: 30rem;
  /* border: 1px solid red; */
  color: var(--color-gray-light);
}

.navHome {
  justify-self: flex-start;
}

.navTitle {
  text-transform: uppercase;
  justify-self: center;
  flex-grow: 1;
  font-size: 3rem;
  text-align: center;
}

.navQuiz, .navEditCardset {
  text-align: right;
}

.navLinkContainer {
  display: flex;
  justify-content: flex-end;
}