.textAreaInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;

  & textarea {
    resize: none;
    padding-top: 22%;
    text-align: center;
    height: 150px;
    width: 250px;
    font-family: 'Nanum Pen Script', cursive;
    letter-spacing: 1.5px;
    line-height: .8;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    margin-top: .5rem;
  }

  & #sideA {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 5px solid var(--color-primary-dark);
  }

  & #sideB {
    background-color: var(--color-primary-dark);
    color: var(--color-gray-light);
    border: 5px solid var(--color-accent);
  }

  & #cardsetName {
    border: 3px solid var(--color-primary-dark);
    text-transform: capitalize;
    font-family: 'Carter One', cursive;
    padding-top: 18%;
    font-size: 2.5rem;
    line-height: 1.1;
    letter-spacing: 0;
  }
}