.flex-container-col {
  display: flex;
  flex-direction: column;
}
.flex-container-row {
  display: flex;
}

.main-container {
  user-select: none;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  width: 80vw;
  margin: auto;
}