@import 'styles/abstracts/test.css';
@import 'styles/abstracts/variables.css';

@import 'styles/base/typography.css';

@import 'styles/components/buttons.css';
@import 'styles/components/flashcard.css';
@import 'styles/components/flashcardControls.css';
@import 'styles/components/footer.css';
@import 'styles/components/header.css';
@import 'styles/components/textAreaInput.css';
@import 'styles/components/links.css';

@import 'styles/layouts/editCardPage.css';
@import 'styles/layouts/editCardsetPage.css';
@import 'styles/layouts/homePage.css';
@import 'styles/layouts/quizpage.css';

@import 'styles/utilities/container.css';
@import 'styles/utilities/effects.css';
