@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Rock+Salt&family=Schoolbell&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Carter+One&family=Noto+Sans+Bassa+Vah:wght@400;500;600&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: 'Antic Slab', serif; */
  font-family: 'Carter One', cursive;
  /* font-family: 'Noto Sans Bassa Vah', sans-serif; */
}

.sideA, .sideB, .flashcard {
  font-family: 'Nanum Pen Script', cursive;
  letter-spacing: 3px;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  /* font-family: 'Shadows Into Light', cursive; */
}

